.header {
    font-size: 15pt;
    border-bottom: 1px solid #fff;
    color: white;
    text-align: center;
}

.sidebar {
    color: white;
    font-size: 15pt;
    margin-left: 40px;
    padding-right: 40px;
    border-right: 1px solid #fff;
    max-width: fit-content;
    flex-direction: column;
    display: flex;
    height: 100vh;
}

.plot {
  color: white;
  font-size: 25pt;
}

button {
    resize: none;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    padding: 10px;
    height: 80px;
    width: 225px;
    font-family: "Quicksand", serif;
    font-weight: 600;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    outline: 3px grey solid;
    outline-offset: -3px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

  button:hover {
    background-color: #252525;
    color: white;
    outline: 3px grey solid;
  }

input {
  resize: none;
  text-align: center;
  font-size: 20px;
  height: 25px;
  width: 200px;
  font-family: "Quicksand", serif;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  transition: 0.3s;
}

input:focus {
  background: #c6c6c6;
  transition: 0.3s;
 }