
body {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  background-image: url("../public/wallpaper.jpg");
  background-size: cover;
  background-position: center;
}